.footer{
    width: 100vw;
    height: 40vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    align-items: center;
    line-height: 30px;


    .list-footer ul{
        list-style: none;
    }
}